@model IEnumerable<OASIS.Models.ApprovalStatus>

@{
    ViewData["Title"] = "Index";
}
<div class="row pb-3 pr-5 pl-5" style=" margin-left: 0.01%; background:#3f4853; align-items:center">
    <a asp-action="Create" style="display:flex; align-items:center; justify-content:center" class="btn btn-success col-12 align-items-center">
        <span class="material-icons mr-2">
            control_point
        </span>
        Add Approval Status
    </a>
</div>
<table class="table" style="background:white;">
    <thead>
        <tr>
            <th  class="pl-5 pt-3">
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td  class="pl-5">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="text-align:center">
                <a style="width:auto" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-primary mr-3">
                    <span class="material-icons">
                        edit
                    </span>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
