<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OASIS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="layout-flex">
        <header>
            <div class="logo"><img src="~/resources/logo.png" alt="Alternate Text" /></div>
            <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <li class="nav-item-flex">
                    <div class="nav-item-box-one" id="home-side-bar"></div>
                    <div class="inner-nav-flex" id="home">
                        <div style=" width: 60%;">
                            <img style=" height: 85%; width: 39%; float: right;" src="~/resources/dashboard.png" alt="Alternate Text" />
                        </div>
                        <div class="nav-item-box-two">
                            <a class="nav-link" id="v-pills-home-tab" asp-controller="Home" asp-action="Index">Dashboard</a>
                        </div>

                    </div>

                </li>

                <li class="nav-item-flex">
                    <div class="nav-item-box-one" id="employee-side-bar"></div>

                    <div class="inner-nav-flex" id="employee">
                        <div style=" width: 60%;">
                            <img style=" height: 85%; width: 45%; float: right;" src="~/resources/employee1.png" alt="Alternate Text" />
                        </div>
                        <div class="nav-item-box-two">

                            <a class="nav-link " id="v-pills-employee-tab" asp-controller="Employees" asp-action="Index">Employees</a>
                        </div>
                    </div>

                </li>
                <li class="nav-item-flex">
                    <div class="nav-item-box-one" id="customer-side-bar"></div>

                    <div class="inner-nav-flex" id="customer">
                        <div style=" width: 60%;">
                            <img style=" height: 85%; width: 45%; float: right;" src="~/resources/p-replace-color.png" alt="Alternate Text" />
                        </div>
                        <div class="nav-item-box-two">
                            <a class="nav-link" id="v-pills-customer-tab" asp-controller="Customers" asp-action="Index">Customers</a>
                        </div>
                    </div>

                </li>
                <li class="nav-item-flex">
                    <div class="nav-item-box-one" id="project-side-bar"></div>
                    <div class="inner-nav-flex" id="project">
                        <div style=" width: 60%;">
                            <img style=" height: 85%; width: 45%; float: right;" src="~/resources/projects1.png" alt="Alternate Text" />
                        </div>
                        <div class="nav-item-box-two" id="project">
                            <a class="nav-link" id="v-pills-projct-tab" asp-controller="Projects" asp-action="Index">Projects</a>
                        </div>
                    </div>

                </li>
                <li class="nav-item-flex">
                    <div class="nav-item-box-one" id="role-side-bar"></div>

                    <div class="inner-nav-flex" id="role">

                        <div style=" width: 60%;">
                            <img style=" height: 85%; width: 45%; float: right;" src="~/resources/roles.png" alt="Alternate Text" />
                        </div>
                        <div class="nav-item-box-two" id="role">
                            <a class="nav-link" id="v-pills-bid-tab" asp-controller="Roles" asp-action="Index">Roles</a>
                        </div>
                    </div>

                </li>
            </ul>
        </header>
        <div class="container" style="height:100%">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>


    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OASIS</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@


    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - OASIS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
