@model OASIS.Models.Role

@{
    ViewData["Title"] = "Create";
}
<form asp-action="Create">
    <div class="row">
        <div class="form-row col-10">
            <div style="width:35px; height:37px; align-self:center;">
                <img style="width:100%; height:100%;" src="~/resources/add-user-full-fill.png" alt="Alternate Text" />
            </div>
            <h2 style="margin-left: 14px; margin-top:5px; color:#7460ee">Add Role</h2>

        </div>
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row col-10">

                <div style=" padding-left: 1px;" class="form-group col-5">
                    <h3> Role Information</h3>
                </div>
                <div style=" padding-left: 1px;" class="form-group col-6">
                    <h3> Labour Information</h3>
                </div>

            </div>
            <div style="margin-top:0px;" class="col-md-12">
                <div style="margin-top:0px;" class="form-row col-10">

                    <div class="form-group col-5">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" tabindex="1" placeholder="Example: Supervisor" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="LabourCostPerHr" class="control-label"></label>
                        <input asp-for="LabourCostPerHr" tabindex="2" placeholder="Example: $50" class="form-control" />
                        <span asp-validation-for="LabourCostPerHr" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-row col-10">
                    <div class="form-group col-5">

                    </div>

                    <div class="form-group col-6">
                        <label asp-for="LabourPricePerHr" class="control-label"></label>
                        <input asp-for="LabourPricePerHr" tabindex="3" placeholder="Example: $25" class="form-control" />
                        <span asp-validation-for="LabourPricePerHr" class="text-danger"></span>
                    </div>

                </div>


            </div>



            <div style="display:flex; margin-top:50px; margin-bottom:20px;">
                <button type="submit" style="width: 6%;margin-right:3.5%;" class="button-menu form-group btn btn-success" data-toggle="tooltip" data-placement="top" title="Save Role">
                    <div style="width:20px; height:22px;">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

                            <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="white" stroke="none">
                                <path d="M66 5101 c-15 -10 -37 -32 -47 -47 -18 -28 -19 -96 -19 -2494 0
                                -2398 1 -2466 19 -2494 10 -15 32 -37 47 -47 28 -18 96 -19 2494 -19 2398 0
                                2466 1 2494 19 15 10 37 32 47 47 18 28 19 88 19 2095 l0 2066 -29 39 c-34 46
                                -805 814 -841 838 -21 14 -64 16 -332 16 l-307 0 -3 -742 -3 -743 -22 -35
                                c-12 -19 -37 -44 -55 -55 -33 -20 -51 -20 -1268 -20 l-1235 0 -35 22 c-19 12
                                -44 37 -55 55 -19 32 -20 53 -23 776 l-3 742 -407 0 c-382 0 -409 -1 -436 -19z
                                m3844 -3751 l0 -1050 -1350 0 -1350 0 0 1050 0 1050 1350 0 1350 0 0 -1050z"></path>
                                <path d="M1576 2081 c-46 -31 -66 -69 -66 -131 0 -62 20 -100 66 -131 28 -18
                                65 -19 984 -19 919 0 956 1 984 19 46 31 66 69 66 131 0 62 -20 100 -66 131
                                -28 18 -65 19 -984 19 -919 0 -956 -1 -984 -19z"></path>
                                <path d="M1576 1481 c-46 -31 -66 -69 -66 -131 0 -62 20 -100 66 -131 28 -18
                                65 -19 984 -19 919 0 956 1 984 19 46 31 66 69 66 131 0 62 -20 100 -66 131
                                -28 18 -65 19 -984 19 -919 0 -956 -1 -984 -19z"></path>
                                <path d="M1576 881 c-46 -31 -66 -69 -66 -131 0 -62 20 -100 66 -131 28 -18
                                65 -19 984 -19 919 0 956 1 984 19 46 31 66 69 66 131 0 62 -20 100 -66 131
                                -28 18 -65 19 -984 19 -919 0 -956 -1 -984 -19z"></path>
                                <path d="M1210 4470 l0 -650 1050 0 1050 0 0 650 0 650 -1050 0 -1050 0 0
                                -650z"></path>
                            </g>
                        </svg>

                    </div>

                </button>

                <button type="reset" style="width: 6%;" class="button-menu form-group btn btn-dark"  data-toggle="tooltip" data-placement="top" title="Reset Changes">
                    <div style="width:20px; height:22px;">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

                            <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="white" stroke="none">
                                <path d="M2265 5109 c-108 -13 -301 -53 -409 -84 -338 -98 -691 -287 -957
                                -513 l-106 -90 -214 215 c-248 250 -279 273 -358 273 -89 -1 -154 -38 -202
                                -115 -18 -29 -19 -65 -19 -838 0 -706 2 -812 15 -845 20 -47 50 -78 100 -105
                                40 -22 44 -22 805 -25 421 -2 788 0 817 3 62 7 107 36 145 90 42 61 54 121 38
                                181 -12 44 -36 72 -262 300 l-249 251 63 55 c180 158 436 287 695 353 290 73
                                645 55 938 -47 616 -214 1057 -752 1140 -1391 96 -739 -309 -1461 -990 -1764
                                -256 -114 -484 -160 -755 -150 -181 7 -299 27 -465 82 -298 97 -540 257 -749
                                495 -101 115 -128 131 -193 116 -40 -9 -519 -496 -526 -535 -11 -52 11 -94
                                100 -194 326 -364 788 -638 1275 -757 225 -55 318 -65 618 -65 300 0 385 9
                                610 65 352 88 705 261 995 488 116 91 346 328 437 452 286 386 459 820 508
                                1272 22 205 10 538 -25 728 -74 400 -234 763 -483 1100 -91 124 -321 361 -437
                                452 -344 270 -755 453 -1190 530 -128 22 -575 33 -710 17z"></path>
                            </g>
                        </svg>
                    </div>

                </button>

                <button type="submit" asp-route-employeeTrue="1" asp-action="Create" id="createEmployee" style="width: 6%;margin-left:3.5%;" class="button-menu form-group btn btn-danger" data-toggle="tooltip" data-placement="top" title="Save and Create Employee">
                    <div style="width:35px; height:30px;">
                        <svg style="width:100%; height:100%;" version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

                            <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#f4f8f9" stroke="none">
                                <path d="M2360 5105 c-303 -68 -555 -275 -667 -547 -56 -138 -65 -188 -72
-428 -6 -214 -7 -227 -29 -254 -35 -45 -56 -129 -48 -199 15 -143 110 -252
250 -288 37 -9 47 -16 52 -38 18 -79 29 -113 58 -176 40 -85 110 -180 171
-229 l45 -37 0 -97 0 -97 -428 -165 c-534 -206 -561 -219 -668 -326 -66 -65
-91 -99 -123 -166 -72 -150 -71 -135 -71 -1074 0 -836 0 -838 21 -882 15 -29
37 -54 67 -73 l46 -29 406 0 407 0 21 23 c29 31 29 77 -1 105 -21 19 -34 22
-120 22 l-97 0 0 754 c0 722 -1 755 -19 777 -25 31 -83 32 -114 1 l-22 -23 -3
-755 -2 -755 -206 3 c-169 2 -206 6 -214 18 -14 22 -13 1624 1 1692 24 116
115 249 215 315 48 32 568 243 597 243 7 0 68 -111 137 -247 85 -168 134 -253
152 -267 38 -28 115 -27 154 1 l30 21 27 -43 28 -44 -110 -654 c-61 -359 -111
-671 -111 -693 0 -51 17 -76 148 -219 l109 -120 -163 -3 c-162 -2 -163 -3
-183 -29 -27 -33 -27 -63 0 -97 l20 -26 1053 0 1052 0 46 29 c30 19 52 44 67
73 20 43 21 56 21 434 -1 303 -3 393 -14 406 -34 45 -113 40 -135 -8 -7 -17
-11 -138 -11 -387 0 -210 -4 -368 -10 -377 -8 -12 -45 -16 -214 -18 l-206 -3
-2 755 -3 755 -22 23 c-31 31 -89 30 -114 -1 -18 -22 -19 -55 -19 -777 l0
-754 -401 0 -401 0 83 91 c175 192 179 197 179 255 0 20 -50 331 -111 690
l-111 654 28 44 28 44 30 -21 c39 -28 116 -29 154 -1 18 14 67 99 152 267 69
136 130 247 136 247 25 0 532 -203 583 -233 106 -63 204 -202 230 -325 7 -32
11 -170 11 -346 0 -282 1 -294 21 -320 29 -37 89 -37 118 0 20 26 21 38 21
326 0 335 -8 402 -64 523 -59 127 -184 252 -313 313 -32 15 -251 102 -485 192
l-428 165 0 102 0 103 46 42 c96 88 176 229 204 360 13 56 13 56 59 68 155 39
251 159 251 315 0 67 -29 163 -55 185 -12 10 -15 42 -15 154 0 257 -23 389
-90 533 -95 203 -221 337 -413 438 -144 76 -228 97 -407 101 -111 3 -173 0
-220 -11z m376 -165 c236 -61 417 -212 518 -432 49 -106 66 -190 73 -348 l6
-140 -27 0 c-17 0 -29 7 -32 18 -16 52 -42 88 -138 192 -166 180 -185 184
-363 85 -231 -128 -436 -183 -703 -189 -154 -4 -185 -14 -215 -69 -13 -25 -27
-36 -47 -39 l-28 -5 0 129 c0 162 19 256 74 373 104 221 301 379 531 430 95
21 258 19 351 -5z m287 -829 l87 -95 0 -290 c0 -211 -4 -309 -14 -357 -44
-208 -209 -375 -419 -424 -174 -41 -366 10 -499 133 -76 71 -120 138 -154 239
-27 76 -27 86 -32 363 l-4 285 113 2 c251 3 510 73 734 198 44 24 85 43 90 42
6 -1 50 -44 98 -96z m-1183 -411 l0 -160 -25 10 c-47 18 -74 42 -95 84 -24 52
-25 84 -3 131 15 32 92 95 115 95 4 0 8 -72 8 -160z m1490 138 c18 -13 41 -39
51 -58 38 -70 15 -162 -51 -207 -59 -41 -60 -39 -60 132 0 171 1 173 60 133z
m-957 -1045 c86 -23 281 -24 362 -1 33 10 70 20 83 24 21 6 22 4 22 -56 l0
-63 -136 -169 c-76 -93 -141 -167 -146 -166 -6 2 -70 78 -144 168 l-134 165 0
64 c0 53 3 62 15 57 9 -3 44 -13 78 -23z m-60 -397 c71 -87 125 -161 120 -165
-27 -24 -245 -173 -247 -170 -2 2 -51 99 -109 215 l-105 210 91 36 c51 20 98
36 106 35 8 -1 73 -73 144 -161z m735 128 c50 -19 92 -37 92 -40 0 -2 -47 -99
-105 -214 l-105 -211 -48 33 c-113 77 -197 140 -197 147 0 12 249 320 260 320
6 1 52 -15 103 -35z m-422 -450 c35 -25 66 -49 68 -53 3 -4 -6 -24 -20 -44
l-25 -37 -89 0 -90 0 -27 41 c-22 34 -24 42 -12 49 7 5 39 27 69 49 30 22 56
40 58 41 2 0 32 -21 68 -46z m103 -906 c57 -337 105 -624 108 -638 3 -21 -20
-51 -133 -175 -75 -82 -140 -150 -144 -150 -7 0 -168 173 -263 282 -18 21 -16
37 87 646 58 343 106 629 106 636 0 7 23 11 68 11 l68 0 103 -612z"></path>
                            </g>
                        </svg>
                    </div>

                </button>

                <div style="width:75%;">
                    <a href='@ViewData["returnURL"]' @*asp-action="Index"*@ style="float:right; width:10%;" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Return to Roles Page">
                        ←
                    </a>
                </div>

            </div>


        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
    <script type="text/javascript">
        $('#createEmployee').click(function () {
            $('#employeeTrue').val(1)
        });

        $('#createBid').click(function () {
            $('#bidTrue').val(1)
        });

        $('#createProject').click(function () {
            $('#projectTrue').val(1)
        });

        $('#createCustomer').click(function () {
            $('#customerTrue').val(1)
        });
        

    </script>
   
}