<div class="container-fluid text-center">
    <div class="col-12">
        <span style="color:red; font-size:300px" class="material-icons">
            security
        </span>
    </div>
    <div>
        <span style="font-size:38px;font-weight:500;">
            You are not authorized to view this content
        </span>
    </div>
</div>