@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {
    <script type="text/javascript">

        var homeSideBar = document.getElementById("home-side-bar").style.backgroundColor = "#7460ee";;
        var homeLogo = document.getElementById("homeLogo").src ="resources/dash-alt1.png";
        var home = document.getElementById("home").style.backgroundColor = "rgb(116, 96, 238, 0.2)";
        var text = document.getElementById("v-pills-home-tab").style.color = "#7460ee";
        text.style.fontWeight = "700";
                
    </script>
}
