
@*@model MedicalOffice.Models.Doctor
<form asp-action="Create" asp-controller="Doctors" id="createDoctorForm">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" id="submitCreate" class="btn btn-outline-dark" />
            </div>
        </div>
    </div>
</form>*@


@model OASIS.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<style>
    * {
        box-sizing: border-box;
    }

   
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<form asp-action="Create" asp-controller="Customers" id="createCustomerFrom">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group column">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" tabindex="1" placeholder="Example: John" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group column">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" tabindex="2" placeholder="Example: James" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>

            <div class="form-group column">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" tabindex="3" placeholder="Example: Doe" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group column">
                <label asp-for="AddressLineOne" class="control-label"></label>
                <input asp-for="AddressLineOne" tabindex="4" placeholder="Example: 123 Road Street" class="form-control" />
                <span asp-validation-for="AddressLineOne" class="text-danger"></span>
            </div>

            <div class="form-group column">
                <label asp-for="AddressLineTwo" class="control-label"></label>
                <input asp-for="AddressLineTwo" tabindex="5" placeholder="Example: 124 Apple Road" class="form-control" />
                <span asp-validation-for="AddressLineTwo" class="text-danger"></span>
            </div>

            <div class="form-group column">
                <label asp-for="ApartmentNumber" class="control-label"></label>
                <input asp-for="ApartmentNumber" tabindex="6" placeholder="Example: Suite 1 / Suite A " class="form-control" />
                <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
            </div>




            <div class="form-group column">
                <label asp-for="OrgName" class="control-label"></label>
                <input asp-for="OrgName" tabindex="7" placeholder="Example: Company Name" class="form-control" />
                <span asp-validation-for="OrgName" class="text-danger"></span>
            </div>
            <div class="form-group column">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" tabindex="8" placeholder="Example: Welland" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>






            <div class="form-group column">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" tabindex="9" placeholder="Example: Manager" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group column">
                <label asp-for="Province" class="control-label"></label>
                <input asp-for="Province" tabindex="10" placeholder="Example: Ontario" class="form-control" />
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>





            <div class="form-group column">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" tabindex="11" placeholder="Example: 9051234567" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group column">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" tabindex="12" placeholder="Example: Canada" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>





            <div class="form-group column">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" tabindex="13" placeholder="Example: email@address.com" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>



        </div>
    </div>

    <div style="display:flex; margin-top:50px; margin-bottom:20px;">
        <button type="submit" style="width: 6%;margin-right:3.5%;" class="button-menu form-group btn btn-success" data-toggle="tooltip" data-placement="top" title="Save Customer">
            <div style="width:20px; height:22px;">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="white" stroke="none">
                        <path d="M66 5101 c-15 -10 -37 -32 -47 -47 -18 -28 -19 -96 -19 -2494 0
                                -2398 1 -2466 19 -2494 10 -15 32 -37 47 -47 28 -18 96 -19 2494 -19 2398 0
                                2466 1 2494 19 15 10 37 32 47 47 18 28 19 88 19 2095 l0 2066 -29 39 c-34 46
                                -805 814 -841 838 -21 14 -64 16 -332 16 l-307 0 -3 -742 -3 -743 -22 -35
                                c-12 -19 -37 -44 -55 -55 -33 -20 -51 -20 -1268 -20 l-1235 0 -35 22 c-19 12
                                -44 37 -55 55 -19 32 -20 53 -23 776 l-3 742 -407 0 c-382 0 -409 -1 -436 -19z
                                m3844 -3751 l0 -1050 -1350 0 -1350 0 0 1050 0 1050 1350 0 1350 0 0 -1050z"></path>
                        <path d="M1576 2081 c-46 -31 -66 -69 -66 -131 0 -62 20 -100 66 -131 28 -18
                                65 -19 984 -19 919 0 956 1 984 19 46 31 66 69 66 131 0 62 -20 100 -66 131
                                -28 18 -65 19 -984 19 -919 0 -956 -1 -984 -19z"></path>
                        <path d="M1576 1481 c-46 -31 -66 -69 -66 -131 0 -62 20 -100 66 -131 28 -18
                                65 -19 984 -19 919 0 956 1 984 19 46 31 66 69 66 131 0 62 -20 100 -66 131
                                -28 18 -65 19 -984 19 -919 0 -956 -1 -984 -19z"></path>
                        <path d="M1576 881 c-46 -31 -66 -69 -66 -131 0 -62 20 -100 66 -131 28 -18
                                65 -19 984 -19 919 0 956 1 984 19 46 31 66 69 66 131 0 62 -20 100 -66 131
                                -28 18 -65 19 -984 19 -919 0 -956 -1 -984 -19z"></path>
                        <path d="M1210 4470 l0 -650 1050 0 1050 0 0 650 0 650 -1050 0 -1050 0 0
                                -650z"></path>
                    </g>
                </svg>

            </div>

        </button>
    </div>
</form>

