@model OASIS.Models.Project

@{
    ViewData["Title"] = "Create";
}
<div class="container-fluid">
    <form asp-action="Create">
        @{
            if (TempData.ContainsKey("CustomerID"))
            {
                <input type="hidden" name="fromCustomerID" value="@TempData["CustomerID"]" />
            }
        }

        <div class="card col-8 p-0 mb-5" style=" border-radius:25px">
            <div style=" border-top-left-radius: 25px; border-top-right-radius: 25px;" class="row card-header m-0">
                <div style="text-align:center" class="col-1">
                    <span class="material-icons">
                        work
                    </span>
                </div>
                <div class="col-10">
                    <h5>Project information</h5>
                </div>
                <div class="col-1">
                    <button type="button" style="padding:0;width:50%;" class="btn btn-outline-light" data-toggle="collapse" data-target="#collapse-personal" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" /></svg>
                    </button>
                </div>
            </div>
            <div class="card-body" id="collapse-personal" style="background: rgba(184, 175, 247, 0.2); border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;">
                <div class="form-group row ml-3">
                    <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-8">

                        <input asp-for="Name" tabindex="1" placeholder="Example: John" Outdoor Project" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row ml-3">
                    <label class="col-sm-3 col-form-label">Customer</label>
                    <div class="col-sm-8">
                        @{ if (TempData.ContainsKey("CustomerID"))
                            {
                                if ((int)TempData["CustomerID"] != 0)
                                {
                                    <select disabled asp-for="CustomerID" tabindex="3" class="form-control" asp-items="ViewBag.CustomerID">
                                        <option value="">Select an option</option>
                                    </select>
                                }
                                else
                                {
                                    <select asp-for="CustomerID" tabindex="3" class="form-control" asp-items="ViewBag.CustomerID">
                                        <option value="">Select an option</option>
                                    </select>
                                }
                            }
                            else
                            {
                                <select asp-for="CustomerID" tabindex="3" class="form-control" asp-items="ViewBag.CustomerID">
                                    <option value="">Select an option</option>
                                </select>
                            }
                            <span asp-validation-for="CustomerID" class="text-danger"></span>

                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-8 p-0" style=" border-radius:25px">
            <div style=" border-top-left-radius: 25px; border-top-right-radius: 25px;" class="row card-header m-0">
                <div style="text-align:center" class="col-1">
                    <span class="material-icons">
                        home
                    </span>
                </div>
                <div class="col-10">
                    <h5>Address information</h5>
                </div>
                <div class="col-1">
                    <button type="button" style="padding:0;width:50%;" class="btn btn-outline-light" data-toggle="collapse" data-target="#collapse-address" aria-expanded="false">
                        <svg style="width:80%;height:80%" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" /></svg>
                    </button>
                </div>
            </div>
            <div class="card-body collapse" id="collapse-address" style="background: rgba(184, 175, 247, 0.2); border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;">
                <div class="form-group row ml-3">
                    `                <label asp-for="SiteAddressLineOne" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-8">
                        <input asp-for="SiteAddressLineOne" tabindex="3" placeholder="Example: 123 Road Street" class="form-control" />
                        <span asp-validation-for="SiteAddressLineOne" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row ml-3">
                    <label asp-for="SiteAddressLineTwo" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-8">
                        <input asp-for="SiteAddressLineTwo" tabindex="4" placeholder="Example: 125 Apple Road" class="form-control" />
                        <span asp-validation-for="SiteAddressLineTwo" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row ml-3">
                    <label asp-for="City" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-8">
                        <input asp-for="City" tabindex="5" placeholder="Example: Welland" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row ml-3">
                    <label asp-for="Province" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-8">
                        <input asp-for="Province" tabindex="6" placeholder="Example: Ontario" class="form-control" />
                        <span asp-validation-for="Province" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row ml-3">
                    <label asp-for="Country" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-8">
                        <input asp-for="Country" tabindex="7" placeholder="Example: Canada" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>


        <div style="display:flex; margin-top:50px; margin-bottom:20px;">
            <button type="submit" style="width: 6%;margin-right:3.5%;" class="button-menu form-group btn btn-success" data-toggle="tooltip" data-placement="top" title="Save Project">
                <div style="width:20px; height:22px;">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="white" stroke="none">
                            <path d="M66 5101 c-15 -10 -37 -32 -47 -47 -18 -28 -19 -96 -19 -2494 0
                                -2398 1 -2466 19 -2494 10 -15 32 -37 47 -47 28 -18 96 -19 2494 -19 2398 0
                                2466 1 2494 19 15 10 37 32 47 47 18 28 19 88 19 2095 l0 2066 -29 39 c-34 46
                                -805 814 -841 838 -21 14 -64 16 -332 16 l-307 0 -3 -742 -3 -743 -22 -35
                                c-12 -19 -37 -44 -55 -55 -33 -20 -51 -20 -1268 -20 l-1235 0 -35 22 c-19 12
                                -44 37 -55 55 -19 32 -20 53 -23 776 l-3 742 -407 0 c-382 0 -409 -1 -436 -19z
                                m3844 -3751 l0 -1050 -1350 0 -1350 0 0 1050 0 1050 1350 0 1350 0 0 -1050z"></path>
                            <path d="M1576 2081 c-46 -31 -66 -69 -66 -131 0 -62 20 -100 66 -131 28 -18
                                65 -19 984 -19 919 0 956 1 984 19 46 31 66 69 66 131 0 62 -20 100 -66 131
                                -28 18 -65 19 -984 19 -919 0 -956 -1 -984 -19z"></path>
                            <path d="M1576 1481 c-46 -31 -66 -69 -66 -131 0 -62 20 -100 66 -131 28 -18
                                65 -19 984 -19 919 0 956 1 984 19 46 31 66 69 66 131 0 62 -20 100 -66 131
                                -28 18 -65 19 -984 19 -919 0 -956 -1 -984 -19z"></path>
                            <path d="M1576 881 c-46 -31 -66 -69 -66 -131 0 -62 20 -100 66 -131 28 -18
                                65 -19 984 -19 919 0 956 1 984 19 46 31 66 69 66 131 0 62 -20 100 -66 131
                                -28 18 -65 19 -984 19 -919 0 -956 -1 -984 -19z"></path>
                            <path d="M1210 4470 l0 -650 1050 0 1050 0 0 650 0 650 -1050 0 -1050 0 0
                                -650z"></path>
                        </g>
                    </svg>

                </div>

            </button>

            <button type="reset" style="width: 6%;" class="button-menu form-group btn btn-dark" data-toggle="tooltip" data-placement="top" title="Reset Changes">
                <div style="width:20px; height:22px;">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="white" stroke="none">
                            <path d="M2265 5109 c-108 -13 -301 -53 -409 -84 -338 -98 -691 -287 -957
                                -513 l-106 -90 -214 215 c-248 250 -279 273 -358 273 -89 -1 -154 -38 -202
                                -115 -18 -29 -19 -65 -19 -838 0 -706 2 -812 15 -845 20 -47 50 -78 100 -105
                                40 -22 44 -22 805 -25 421 -2 788 0 817 3 62 7 107 36 145 90 42 61 54 121 38
                                181 -12 44 -36 72 -262 300 l-249 251 63 55 c180 158 436 287 695 353 290 73
                                645 55 938 -47 616 -214 1057 -752 1140 -1391 96 -739 -309 -1461 -990 -1764
                                -256 -114 -484 -160 -755 -150 -181 7 -299 27 -465 82 -298 97 -540 257 -749
                                495 -101 115 -128 131 -193 116 -40 -9 -519 -496 -526 -535 -11 -52 11 -94
                                100 -194 326 -364 788 -638 1275 -757 225 -55 318 -65 618 -65 300 0 385 9
                                610 65 352 88 705 261 995 488 116 91 346 328 437 452 286 386 459 820 508
                                1272 22 205 10 538 -25 728 -74 400 -234 763 -483 1100 -91 124 -321 361 -437
                                452 -344 270 -755 453 -1190 530 -128 22 -575 33 -710 17z"></path>
                        </g>
                    </svg>
                </div>

            </button>

            <button type="submit" asp-action="Create" asp-route-bidTrue="1" id="createBid" style="width: 6%;margin-left:3.5%;" class="button-menu form-group btn btn-danger" data-toggle="tooltip" data-placement="top" title="Save and Create Bid">
                <div style="width:35px; height:30px;">
                    <svg style="width:100%; height:100%" id="Layer_1" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><g fill="white"><path d="m459.261 429h-.261v-26.258c0-3.314-2.958-5.742-6.271-5.742h-261.799a5.725 5.725 0 0 0 -5.93 5.742v26.258h-.6a33.551 33.551 0 0 0 -33.4 33.83v9.108a5.756 5.756 0 0 0 5.639 6.062h330.381a6.036 6.036 0 0 0 5.98-6.062v-9.108a33.841 33.841 0 0 0 -33.739-33.83zm-262.261-20h250v20h-250zm284 57h-318v-3.17a21.539 21.539 0 0 1 21.4-21.83h274.861a21.827 21.827 0 0 1 21.739 21.83z"></path><path d="m182.244 276.23a6 6 0 0 0 8.485 0l19.876-19.875a6 6 0 0 0 0-8.485l-7.331-7.331 18.126-18.121 27.05 27.051-1.779 1.78a6 6 0 0 0 0 8.485l10.852 10.853-3.305 3.305a6 6 0 0 0 0 8.485l13.21 13.209a18.806 18.806 0 0 0 26.6 0l79.595-79.594a18.83 18.83 0 0 0 0-26.6l-13.21-13.21a6 6 0 0 0 -8.485 0l-3.305 3.305-10.852-10.853a6 6 0 0 0 -8.486 0l-1.78 1.781-84.732-84.727 1.78-1.78a6 6 0 0 0 0-8.485l-10.853-10.853 3.305-3.3a6 6 0 0 0 0-8.485l-13.205-13.215a18.832 18.832 0 0 0 -26.6 0l-79.594 79.6a18.83 18.83 0 0 0 0 26.6l13.21 13.209a6 6 0 0 0 8.485 0l3.305-3.3 10.852 10.853a6 6 0 0 0 8.485 0l1.781-1.78 27.051 27.051-18.122 18.121-7.33-7.331a6 6 0 0 0 -8.486 0l-19.875 19.876a6 6 0 0 0 0 8.485l2.577 2.577-108.194 96.246a36.879 36.879 0 0 0 24.474 64.432c.37 0 .743 0 1.115-.016a36.529 36.529 0 0 0 26.477-12.35l96.256-108.189zm173.922-87.319 8.967 8.967a6.817 6.817 0 0 1 0 9.629l-79.595 79.593a6.809 6.809 0 0 1 -9.629 0l-8.967-8.967zm-22.643-7.548 6.61 6.61-74.133 74.127-6.609-6.61zm-198.469-35.117-8.967-8.967a6.809 6.809 0 0 1 0-9.629l79.595-79.594a6.809 6.809 0 0 1 9.629 0l8.966 8.966zm22.643 7.548-6.61-6.61 74.128-74.128 6.61 6.61zm14.508 2.462 62.083-62.082 84.727 84.726-62.083 62.082zm27.051 44.022 13.654 13.654-18.121 18.122-13.654-13.654zm-38.18 15.034 36.8 36.8-11.39 11.39-36.8-36.8zm-86.631 158.555a24.879 24.879 0 1 1 -35.123-35.125l108.712-96.721 23.134 23.133z"></path><path d="m235.9 114.913a6 6 0 0 0 -8.485 8.485l5.656 5.657a6 6 0 1 0 8.486-8.486z"></path><path d="m290.345 183.845a6 6 0 0 0 4.242-10.243l-40.3-40.305a6 6 0 0 0 -8.486 8.486l40.3 40.3a5.979 5.979 0 0 0 4.244 1.762z"></path></g></svg>
                </div>

            </button>


            <div style="width:75%;">
                <a href='@ViewData["returnURL"]' @*asp-action="Index"*@ style="float:right; width:10%;" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Return to Projects Page">
                    ←
                </a>
            </div>

        </div>
    </form>
</div>