@model OASIS.Models.Project

@{
    ViewData["Title"] = "Edit";
}
<form asp-action="Edit">
    <input type="hidden" asp-for="RowVersion" />
    <div class="row">
        <div class="form-row col-10">
            <div style="width:30px; height:30px; align-self:center;">
                <img style="width:100%; height:100%;" src="~/resources/edit-1.png" alt="Alternate Text" />
            </div>
            <h2 style="margin-left: 10px; color:#7460ee">@Model.Name</h2>

        </div>
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row col-10">

                <div style=" padding-left: 1px;" class="form-group col-5">
                    <h3> Project Information</h3>
                </div>
                <div style=" padding-left: 1px;" class="form-group col-6">
                    <h3> Address Information</h3>
                </div>

            </div>
            <div style="margin-top:0px;" class="col-md-12">
                <div style="margin-top:0px;" class="form-row col-10">

                    <div class="form-group col-5">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" tabindex="1" placeholder="Example: Outdoor Project " class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="SiteAddressLineOne" class="control-label"></label>
                        <input asp-for="SiteAddressLineOne" tabindex="2" placeholder="Example: 123 Street Road" class="form-control" />
                        <span asp-validation-for="SiteAddressLineOne" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-row col-10">
                    <div class="form-group col-5">
                        <label asp-for="CustomerID" class="control-label"></label>
                        <select asp-for="CustomerID" tabindex="3" class="form-control" asp-items="ViewBag.CustomerID">
                            <option value="">Select an option</option>
                        </select>
                    </div>

                    <div class="form-group col-6">
                        <label asp-for="SiteAddressLineTwo" class="control-label"></label>
                        <input asp-for="SiteAddressLineTwo" tabindex="4" placeholder="Example: 124 Apple Street " class="form-control" />
                        <span asp-validation-for="SiteAddressLineTwo" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-row col-10">

                    <div class="form-group col-5">

                    </div>
                    <div class="form-group col-6">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" tabindex="5" placeholder="Example: Toronto" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>


                </div>

                <div class="form-row col-10">

                    <div class="form-group col-5">

                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Province" class="control-label"></label>
                        <input asp-for="Province" tabindex="6" placeholder="Example: Ontario" class="form-control" />
                        <span asp-validation-for="Province" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-row col-10">

                    <div class="form-group col-5">

                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Country" class="control-label"></label>
                        <input asp-for="Country" tabindex="7" placeholder="Example: Canada" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>

                </div>

            </div>




            <div style="display:flex; margin-top:50px; margin-bottom:20px;">
                <button type="submit" style="width: 6%;margin-right:3.5%;" class="button-menu form-group btn btn-success">
                    <div style="width:20px; height:22px;">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

                            <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="white" stroke="none">
                                <path d="M66 5101 c-15 -10 -37 -32 -47 -47 -18 -28 -19 -96 -19 -2494 0
                                -2398 1 -2466 19 -2494 10 -15 32 -37 47 -47 28 -18 96 -19 2494 -19 2398 0
                                2466 1 2494 19 15 10 37 32 47 47 18 28 19 88 19 2095 l0 2066 -29 39 c-34 46
                                -805 814 -841 838 -21 14 -64 16 -332 16 l-307 0 -3 -742 -3 -743 -22 -35
                                c-12 -19 -37 -44 -55 -55 -33 -20 -51 -20 -1268 -20 l-1235 0 -35 22 c-19 12
                                -44 37 -55 55 -19 32 -20 53 -23 776 l-3 742 -407 0 c-382 0 -409 -1 -436 -19z
                                m3844 -3751 l0 -1050 -1350 0 -1350 0 0 1050 0 1050 1350 0 1350 0 0 -1050z"></path>
                                <path d="M1576 2081 c-46 -31 -66 -69 -66 -131 0 -62 20 -100 66 -131 28 -18
                                65 -19 984 -19 919 0 956 1 984 19 46 31 66 69 66 131 0 62 -20 100 -66 131
                                -28 18 -65 19 -984 19 -919 0 -956 -1 -984 -19z"></path>
                                <path d="M1576 1481 c-46 -31 -66 -69 -66 -131 0 -62 20 -100 66 -131 28 -18
                                65 -19 984 -19 919 0 956 1 984 19 46 31 66 69 66 131 0 62 -20 100 -66 131
                                -28 18 -65 19 -984 19 -919 0 -956 -1 -984 -19z"></path>
                                <path d="M1576 881 c-46 -31 -66 -69 -66 -131 0 -62 20 -100 66 -131 28 -18
                                65 -19 984 -19 919 0 956 1 984 19 46 31 66 69 66 131 0 62 -20 100 -66 131
                                -28 18 -65 19 -984 19 -919 0 -956 -1 -984 -19z"></path>
                                <path d="M1210 4470 l0 -650 1050 0 1050 0 0 650 0 650 -1050 0 -1050 0 0
                                -650z"></path>
                            </g>
                        </svg>

                    </div>

                </button>

                <button type="reset" style="width: 6%;" class="button-menu form-group btn btn-dark">
                    <div style="width:20px; height:22px;">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

                            <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="white" stroke="none">
                                <path d="M2265 5109 c-108 -13 -301 -53 -409 -84 -338 -98 -691 -287 -957
                                -513 l-106 -90 -214 215 c-248 250 -279 273 -358 273 -89 -1 -154 -38 -202
                                -115 -18 -29 -19 -65 -19 -838 0 -706 2 -812 15 -845 20 -47 50 -78 100 -105
                                40 -22 44 -22 805 -25 421 -2 788 0 817 3 62 7 107 36 145 90 42 61 54 121 38
                                181 -12 44 -36 72 -262 300 l-249 251 63 55 c180 158 436 287 695 353 290 73
                                645 55 938 -47 616 -214 1057 -752 1140 -1391 96 -739 -309 -1461 -990 -1764
                                -256 -114 -484 -160 -755 -150 -181 7 -299 27 -465 82 -298 97 -540 257 -749
                                495 -101 115 -128 131 -193 116 -40 -9 -519 -496 -526 -535 -11 -52 11 -94
                                100 -194 326 -364 788 -638 1275 -757 225 -55 318 -65 618 -65 300 0 385 9
                                610 65 352 88 705 261 995 488 116 91 346 328 437 452 286 386 459 820 508
                                1272 22 205 10 538 -25 728 -74 400 -234 763 -483 1100 -91 124 -321 361 -437
                                452 -344 270 -755 453 -1190 530 -128 22 -575 33 -710 17z"></path>
                            </g>
                        </svg>
                    </div>

                </button>
                <div style="width:75%;">
                    <a href='@ViewData["returnURL"]' @*asp-action="Index"*@ style="float:right; width:10%;" class="btn btn-info">
                        ←
                    </a>
                </div>

            </div>
        </div>
    </div>
</form>

