@model OASIS.Models.Customer

@{
    ViewData["Title"] = "Create";
}
<form asp-action="Create">

    <div class="row">
        <div class="form-row col-10">
            <div style="width:35px; height:37px; align-self:center;">
                <img style="width:100%; height:100%;" src="~/resources/add-user-full-fill.png" alt="Alternate Text" />
            </div>
            <h2 style="margin-left: 14px; margin-top:5px; color:#7460ee">Add Customer</h2>

        </div>
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row col-10">

                <div style=" padding-left: 1px;" class="form-group col-5">
                    <h3> Personal Information</h3>
                </div>
                <div style=" padding-left: 1px;" class="form-group col-6">
                    <h3> Address Information</h3>
                </div>

            </div>
            <div style="margin-top:0px;" class="col-md-12">
                <div style="margin-top:0px;" class="form-row col-10">

                    <div class="form-group col-5">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" placeholder="Please Enter The First Name" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="AddressLineOne" class="control-label"></label>
                        <input asp-for="AddressLineOne" placeholder="Please Enter The Address Line 1" class="form-control" />
                        <span asp-validation-for="AddressLineOne" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-row col-10">
                    <div class="form-group col-5">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" placeholder="Please Enter The Middle Name" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>

                    <div class="form-group col-6">
                        <label asp-for="AddressLineTwo" class="control-label"></label>
                        <input asp-for="AddressLineTwo" placeholder="Please Enter The Address Line 2" class="form-control" />
                        <span asp-validation-for="AddressLineTwo" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-row col-10">

                    <div class="form-group col-5">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" placeholder="Please Enter The Last Name" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group col-6">
                        <label asp-for="ApartmentNumber" class="control-label"></label>
                        <input asp-for="ApartmentNumber" placeholder=" Please Enter The Apartment / Suite Number " class="form-control" />
                        <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-row col-10">

                    <div class="form-group col-5">
                        <label asp-for="OrgName" class="control-label"></label>
                        <input asp-for="OrgName" placeholder="Please Enter The Company Name" class="form-control" />
                        <span asp-validation-for="OrgName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" placeholder="Please Enter The City Name" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>


                </div>

                <div class="form-row col-10">

                    <div class="form-group col-5">
                        <label asp-for="Position" class="control-label"></label>
                        <input asp-for="Position" placeholder="Please Enter The Position Name" class="form-control" />
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Province" class="control-label"></label>
                        <input asp-for="Province" placeholder="Please Enter The Province Name" class="form-control" />
                        <span asp-validation-for="Province" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-row col-10">

                    <div class="form-group col-5">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" placeholder="Please Enter The Phone Number" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Country" class="control-label"></label>
                        <input asp-for="Country" placeholder="Please Enter The Country Name" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-row col-10">

                    <div class="form-group col-5">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" placeholder="Please Enter The Email Address" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>


                </div>
            </div>




            <div style="display:flex; margin-top:50px; margin-bottom:20px;">
                <div style="width:12%; margin-right:3.5%; " class="button-menu form-group btn btn-success">
                    <div style="width:20px; height:22px;">
                        <img src="~/resources/save.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <input type="submit" value="Create" />
                    </div>
                </div>

                <div style="width:17%" class="button-menu form-group btn btn-dark">
                    <div style="width:20px; height:22px;">
                        <img src="~/resources/undo.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <input type="reset" name="name" value="Revert Changes" />
                    </div>
                </div>
                <div style="width:75%;">
                    <a href='@ViewData["returnURL"]' @*asp-action="Index"*@ style="float:right; width:19%;" class="btn btn-info">
                        &#8592; Back To List
                    </a>
                </div>

            </div>

        </div>
    </div>
</form>
